.navBarOuter {
  width: 100%;
  height: 65px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #16a085;
}

.element {
  flex: 1;
  width: 50%;
}

.navBarleft {
  font-size: 20px;
  font-weight: 500;
  margin-left: 20px;
}

.navBarright {
  margin-right: 20px;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
}

.navBarright ul {
  display: flex;
  justify-content: flex-end;
  gap: 40px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.navBarright ul li {
  display: flex;
  align-items: center;
}

.navBarright ul li a {
  text-decoration: none;
  color: white;
}

.navBarright ul li a:hover {
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-thickness: 2px;
}

.personBox {
  display: flex;
}

.personCircle {
  width: 23px;
  height: 23px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid;
}

.personCircle > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.logout{
  display: flex;
  align-items: center;
  gap: 10px;
}

.menuicon {
  display: none;
  width: 25px;
  height: 25px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.menu.open {
  animation: slideDown 0.3s ease;
}

.profile-menu {
  width: 100%;
  background-color: #16a085;
  position: absolute;
  top: 65px;
  right: 0;
  display: flex;
  justify-content: center;
}

.profile-menu ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0;
}

.profile-menu ul li {
  padding: 16px 6px;
  display: flex;
  justify-content: center;
}

.profile-menu ul li div {
  display: flex;
  align-items: center;
  gap: 20px;
}

@media (max-width: 768px) {
  .menuicon {
    display: block;
  }

  .navBarright {
    display: flex;
    justify-content: end;
  }

  .navBarright ul {
    position: absolute;
    top: 65px;
    right: 0;
    background-color: #16a085;
    width: 100%;
    flex-direction: column;
    align-items: center;
    display: none;
    gap: 0;
  }

  .navBarright ul li {
    margin: 5px;
    padding: 6px 16px;
  }

  .menu.open {
    display: flex;
  }
}

@media(max-width: 484px){
   .navBarleft {
  font-size: 15px;
}
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
