  .tableOuter{
    width: 90%;
    font-size: 17px;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
    padding: 20px;
    margin: 20px;
    border-collapse: collapse;
    table-layout: fixed;
  }