* {
  margin: 0;
}

.authOuter {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.authInner {
  border: 2px solid #16a085;
  width: 700px;
  max-width: 95%;
  height: 520px;
  display: flex;
  box-sizing: border-box;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
}

.element {
  flex: 1;
  width: 50%;
}

.authInner-left {
  background-image: url("./assets/login.jpeg");
  background-position: center;
  background-size: cover;
  position: relative;
  margin: 10px;
  border-radius: 15px;
}

.authInner-left::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.authInner-right {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #16a085;
  border-radius: 15px;
  padding-top: 30px;
}

.authInner-right form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-heading {
  color: #16a085;
  font-size: 26px;
}

.inputField-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  max-width: 90%;
}

.error-text {
  color: #e74c3c;
  font-size: 12px;
  margin: 0;
  width: 92%;
}

.forgot-box {
  width: 300px;
  max-width: 90%;
  text-align: end;
  font-size: 12px;
  color: #606685;
  text-decoration: underline;
  cursor: pointer;
}

.button-box {
  width: 300px;
  max-width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.bottom-box {
  width: 300px;
  max-width: 90%;
  text-align: center;
  margin-top: 70px;
  font-size: 13px;
}

.bottom-box > p > span > a {
  color: #606685;
  cursor: pointer;
}

@media (max-width: 768px) {
  .authInner-left {
    display: none;
  }

  .inputField-box,
  .forgot-box,
  .button-box {
    width: 80%;
  }

  .input,
  .button {
    width: 100% !important;
  }
}

/* ----------------------StudentPage----------------------- */

.HomepageOuter {
  width: 100%;
  height: 100vh;
}

.homepageInner {
  margin: 20px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-items: center;
}

.homepageMiddle {
  height: 50px;
  padding: 20px;
  margin: 10px 25px 0;
  display: flex;
  align-items: center;
}

@media (max-width: 1024px) {
  .homepageInner {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .homepageInner {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 480px) {
   .homepageInner {
    grid-template-columns: repeat(1, 1fr);
  }
}