* {
  margin: 0;
}

.authOuter {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.authInner {
  border: 2px solid #16a085;
  width: 700px;
  max-width: 95%;
  height: 520px;
  display: flex;
  box-sizing: border-box;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
  border-radius: 12px;
}

.element {
  flex: 1;
  width: 50%;
}

.authInner-left {
  background-image: url("./assets/login.jpeg");
  background-position: center;
  background-size: cover;
  position: relative;
  margin: 10px;
  border-radius: 15px;
}

.authInner-left::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.25);
  border-radius: 15px;
}

.authInner-right {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #16a085;
  border-radius: 15px;
  padding-top: 30px;
}

.authInner-right form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.auth-heading {
  color: #16a085;
  font-size: 26px;
}

.inputField-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  max-width: 90%;
}

.error-text {
  color: #e74c3c;
  font-size: 12px;
  margin: 0;
  width: 92%;
}

.forgot-box {
  width: 300px;
  max-width: 90%;
  text-align: end;
  font-size: 12px;
  color: #606685;
  text-decoration: underline;
  cursor: pointer;
}

.button-box {
  width: 300px;
  max-width: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.bottom-box {
  width: 300px;
  max-width: 90%;
  text-align: center;
  margin-top: 70px;
  font-size: 13px;
}

.bottom-box > p > span > a {
  color: #606685;
  cursor: pointer;
}

@media (max-width: 768px) {
  .authInner-left {
    display: none;
  }

  .inputField-box,
  .forgot-box,
  .button-box {
    width: 80%;
  }

  .input,
  .button {
    width: 100% !important;
  }
}

/* ----------------------StudentPage----------------------- */

.HomepageOuter {
  width: 100%;
  height: 100vh;
}

.homepageInner {
  margin: 20px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-items: center;
}

.homepageInner .no {
  color: gray;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.homepageMiddle {
  height: 50px;
  padding: 20px;
  margin: 10px 25px 0;
  display: flex;
  align-items: center;
}

@media (max-width: 1024px) {
  .homepageInner {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .homepageInner {
    grid-template-columns: repeat(2, 1fr);
  }

  .homepageInner .no {
    font-size: 13px;
  }
}

@media (max-width: 480px) {
  .homepageInner {
    grid-template-columns: repeat(1, 1fr);
  }
}

/* ----------------------AdminPage----------------------- */

.adminInner {
  width: 100%;
  min-height: 91vh;
  display: flex;
}

.adminInner-left {
  width: 300px;
  position: relative;
}

.adminInner-right {
  flex: 1;
  padding: 20px;
}

@media (max-width: 768px) {
  .adminInner-left {
    width: 200px;
  }
}

@media (max-width: 480px) {
  .adminInner {
    flex-direction: row;
  }

  .adminInner-left {
    width: 70px;
  }

  .adminInner-right {
    padding: 15px;
  }
}

/* ----------------------Course----------------------- */

.courseOuter {
  display: flex;
  flex-direction: column;
}

.courseTop {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.courseMiddle {
  padding: 20px;
}

.courseTop button {
  width: 200px !important;
  height: 40px !important;
  margin-right: 30px !important;
  margin-top: 0 !important;
}

.pagination {
  margin: 10px;
  padding: 10px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.pagination button {
  width: 70px;
  height: 30px;
  border: 2px solid #16a085;
  background-color: rgba(22, 160, 133, 0.5);
  border-radius: 10px;
  color: #16a085;
  font-weight: 500;
}

.pagination span {
  color: #16a085;
  font-weight: 500;
  margin: 0 10px;
}

/* ----------------------AddCourse----------------------- */

.addCourseOuter {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.addCourseInner {
  width: 90%;
  border: 2px solid #16a085;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  gap: 20px;
}

.courseImageDragger {
  width: 70%;
  height: 130px;
  border: 2px dashed #16a085;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.courseImageDragger img {
  width: 40px;
}

.ImageText {
  color: #16a085;
}

.courseImageDragger input {
  display: none;
}

.courseDetails {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 70%;
}

.courseDetails .content{
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.courseDetails .content button{
  margin-top: 0 !important;
  width: 50px !important;
}

.addChapter{
 margin-top: 0 !important;
 width: 100% !important;
}

.courseDetails h2 {
  font-size: 16px;
  font-weight: 600;
  margin: 4px;
  color: #16a085;
}

.courseDetails input {
  width: 650px !important;
}

.courseButton {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-right: 70px;
}

.errorImageText {
  color: #e74c3c;
  font-size: 12px;
}
