* {
  margin: 0;
  padding: 0;
}

.cardOuter {
  width: 100%;
  max-width: 300px;
  /* height: 350px; */
  border: 2px solid #16a085;
  background-color: white;
  box-sizing: border-box;
  box-shadow: 0 8px 30px rgba(33, 140, 116,0.2);
  border-radius: 12px;
  cursor: pointer;
}

.cardInner {
  margin: 10px;
}

.cardInnerTop {
  width: 100%;
  height: 150px;
  overflow: hidden;
}

.cardInnerTop img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.cardInnerBottom {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.cardInnerBottom-top,
.cardInnerBottom-bottom,
.cardInnerBottom-middle {
  display: flex;
  justify-content: space-between;
  padding: 5px;
  text-align: justify;
  color: gray;
}

.cardInnerBottom-top {
  font-size: 12px;
  font-weight: 500;
}

.cardInnerBottom-top h4 {
  font-size: 18px;
  color: #01a3a4;
}

.cardInnerBottom-bottom span {
  font-weight: 700;
  color: black;
}

@media (max-width: 480px) {
  .cardOuter {
    max-width: 100%;
  }

  .cardInnerTop {
    height: 140px;
  }
}

@media (max-width: 768px) {
  .cardOuter {
    max-width: 260px;
  }
}
